@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) {
  body {
    overflow-x: hidden;
    height: auto;
  }
  #particles-js {
    display: none;
  }
  .br-void {
    display: none;
  }
  .car-filter {
    background-color: rgba(255,255,255,1);
  }
  .magic-wrap {
    margin-top: 100%;
  }
	.container {
	  width: 100%;
    padding: 0;
    padding-bottom: 0 !important;
	}
  .project-title {
    font-size: 23px;
    margin-bottom: 30px;
  }
  .redactor-wrap {
    padding: 0 30px 75px;
  }
  .redactor-wrap.w {
    padding: 0 30px 50px;
    width: 100%;
  }
  .kite .image {
    width: 260px;
    height: 260px;
    border: none;
    border: none;
    transform: rotate(0);
    margin: 47px 0;
    border-radius: 50%;
  }
  .kite .image.pull-right {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .kite .image.pull-left {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .kite .image img {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
  }
  .project {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .project .kite {
    padding: 0;
  }
  .project .kite:nth-of-type(2) {
    display: none;
  }
  .shade {
    display: none;
  }
  .project .kite:first-of-type, .project .kite .image, .project .kite .image img {
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: none;
    -webkit-transform: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .project .kite .image {
    height: 200px;
  }
  .project .kite .image img {
    height: auto;
  }
  .photo-counter {
    left: auto;
    right: 30px;
    top: auto;
    bottom: 20px;
  }
  .kite {
    margin-top: 80px;
    width: 50%;
  }
  .brief {
    width: 50%;
  }
  .brief h3 {
    margin: 20px -87%;
    width: 160%;
    font-size: 27px;
    height: 40px;
    display: inline-block;
    text-align: center;
  }
  .brief div {
    font-size: 16px;
    margin: 20px 0 0;
    /*display: inline-block;*/
    width: 100%;
  }
  .brief a {
    font-size: 16px;
  }
  .footer-filter {
    height: 185px;
  }
  .easy-step {
    width: 50%;
  }
  .a-project a {
    font-size: 12px;
  }
  .a-project a:after {
    top: -15px;
  }
  .logo-filter {
    display: block !important;
  }
  .logo-wrp {
    padding: 10% 0;
    position: fixed;
  }
  .logo-wrp img {
    height: 100%;
  }
  .logo-wrp .navbar-toggle {
    display: block!important;
    position: absolute;
    right: 30px;
    top: 75%;
    margin: 0;
    height: 36px;
  }
  .logo-page {
    /*width: 66.6%;*/
    /*height: 100%;*/
    margin: -100px auto 0;
    padding-bottom: 0;
    float: none;
    position: relative;
  }
  .logo-page > div:first-of-type {
    height: 70%;
    margin-bottom: 0;
  }
  .logo-page h4 {
    font-size: 21px;
    margin: 0;
  }
  .a-index.text-vert {
    position: absolute;
    bottom: 5%;
    height: 5%;
  }
  .a-index.text-vert a {
    height: 100%;
  }
  .a-index.text-vert a:before {
    height: 200%;
    background-size: auto 175%;
    margin: 0;
    position: absolute;
    bottom: 100%;
  }
  .a-index.text-vert a:after {
    display: none;
  }
  header:not(.m) {
    margin-top: -30px;
    height: 10px;
  }
  header.m {
    margin-top: 0;
    margin-bottom: 25px;
  }
  .nav-logo {
    margin: -85px 0 0 15px;
    position: absolute;
  }
  header:not(.m) .navbar-toggle {
    display: none;
    /*position: absolute;
    right: 40px;
    top: 195px;*/
  }
  .m .navbar-toggle {
    float: right;
    margin: 20px 15px -10px 0;
    color: #444;
  }
  .m .navbar-toggle .icon-bar {
    background-color: #777!important;
  }
  footer .void {
    width: 0;
  }
  .a-footer {
    margin: 0;
    top: 70px;
  }
  .a-footer a {
    font-size: 16px;
  }
  .a-footer a:after {
    top: 30px;
  }
  .footer-slider * {
    font-size: 120%;
  }
  .footer-slider .btn-cstm {
    margin-top: -10px;
    font-size: 16px;
  }
  .feedback, .feedcontact {
    width: 75%;
  }
  .footer-slider .feedback .btn-cstm {
    margin-top: 30px;
  }
  .feedback .help-block {
    font-size: 12px;
    position: relative;
    float: right;
    right: 0;
    margin: -42px 0 -20px;
  }
  .address h3 {
    font-size: 17px;
  }
  .address h3:after {
    margin-top: -20px;
  }
  .fltr-close {
    top: 75%;
    right: 40px;
    /*position: absolute;*/
  }
  .form-control.form-cstm {
    border-radius: 0;
    padding: 0;
    font-size: 16px;
  }
  .form-group {
    margin-bottom: 0;
  }
  .telephone > div:after, .address > div:after {
    background-size: 50%;
  }
  .push {
    margin-bottom: 50px;
  }
}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) {
  body {
    overflow-x: hidden;
    height: auto;
  }
  #wrapper {
      margin-bottom: 75px;
  }
  #particles-js {
    display: none;
  }
  #navbar-menu {
    width: 75%;
  }
  .car-filter {
    background-color: rgba(255,255,255,1);
  }
	.container {
	  width: 100%;
    padding: 0;
    padding-bottom: 0 !important;
	}
  .magic-wrap {
    margin-top: 100%;
  }
  .project-title {
    font-size: 23px;
    margin-bottom: 30px;
  }
  .redactor-wrap {
    padding: 0 30px 75px;
  }
  .redactor-wrap.w {
    padding: 0 30px 50px;
    width: 100%;
  }
  .kite .image {
    width: 275px;
    height: 275px;
    border: none;
    border: none;
    transform: rotate(0);
    margin: 57px 0;
    border-radius: 50%;
  }
  .kite .image.pull-right {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .kite .image.pull-left {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .kite .image img {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
  }
  .project {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .project .kite {
    padding: 0;
  }
  .project .kite:nth-of-type(2) {
    display: none;
  }
  .shade {
    display: none;
  }
  .project .kite:first-of-type, .project .kite .image, .project .kite .image img {
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: none;
    -webkit-transform: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .project .kite .image {
    height: 200px;
  }
  .project .kite .image img {
    height: auto;
  }
  .photo-counter {
    left: auto;
    right: 30px;
    top: auto;
    bottom: 20px;
  }
  .kite {
    margin-top: 70px;
    width: 50%;
  }
  .brief {
    width: 50%;
  }
  .brief h3 {
    margin: 20px -87%;
    width: 160%;
    font-size: 27px;
    height: 40px;
    display: inline-block;
    text-align: center;
  }
  .brief div {
    font-size: 16px;
    margin: 20px 0 0;
    /*display: inline-block;*/
    width: 100%;
  }
  .brief a {
    font-size: 16px;
  }
  .easy-step {
    width: 70%;
  }
  .a-project a {
    font-size: 12px;
  }
  .a-project a:after {
    top: -15px;
  }
  .logo-filter {
    display: block !important;
  }
  .logo-wrp {
    padding: 10% 0;
    position: fixed;
  }
  .logo-wrp img {
    width: 50%;
  }
  .logo-wrp .navbar-toggle {
    display: block!important;
    position: absolute;
    right: 30px;
    top: 75%;
    margin: 0;
    height: 36px;
  }
  .logo-page {
    /*width: 66.6%;*/
    /*height: 100%;*/
    margin: -50px auto 0;
    padding-bottom: 0;
    float: none;
    position: relative;
  }
  .logo-page > div:first-of-type {
    height: 50%;
    margin-bottom: 5%;
  }
  .logo-page h4 {
    font-size: 21px;
    margin: 0;
  }
  .a-index.text-vert {
    position: absolute;
    bottom: 5%;
    /*height: 10%;*/
  }
  .a-index.text-vert a {
    /*color: transparent;*/
    /*height: 100%;*/
    line-height: 0.8;
  }
  .a-index.text-vert a:before {
    background-position: center bottom;
    margin: 0;
    position: relative;;
    height: 40px;
    bottom: 10px;
  }
  .a-index.text-vert a:after {
    display: none;
  }
  header:not(.m) {
    margin-top: -30px;
    height: 10px;
  }
  header.m {
    margin-top: 0;
    margin-bottom: 25px;
  }
  .nav-logo {
    margin: -85px 0 0 15px;
    position: absolute;
  }
  header:not(.m) .navbar-toggle {
    display: none;
    /*position: absolute;
    right: 40px;
    top: 195px;*/
  }
  .m .navbar-toggle {
    float: right;
    margin: 20px 15px -10px 0;
    color: #444;
  }
  .m .navbar-toggle .icon-bar {
    background-color: #777!important;
  }
  .a-footer {
    margin: 0;
    top: 140px;
  }
  .a-footer a {
    font-size: 16px;
  }
  .a-footer a:after {
    top: 30px;
  }
  .footer-slider * {
    font-size: 120%;
  }
  .footer-slider .btn-cstm {
    margin-top: -10px;
    font-size: 16px;
  }
  .feedback, .feedcontact {
    width: 75%;
  }
  .footer-slider .feedback .btn-cstm {
    margin-top: 30px;
  }
  .feedback .help-block {
    font-size: 12px;
    position: relative;
    float: right;
    right: 0;
    margin: -42px 0 -20px;
  }
  .address h3 {
    font-size: 17px;
  }
  .address h3:after {
    margin-top: -20px;
  }
  .fltr-close {
    top: 75%;
    right: 40px;
    /*position: absolute;*/
  }
  .form-control.form-cstm {
    border-radius: 0;
    padding: 0;
    font-size: 16px;
  }
  .form-group {
    margin-bottom: 0;
  }
  .telephone > div:after, .address > div:after {
    background-size: 50%;
  }
}
